<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Food Carts</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
    <link href='/static/style/main.css' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
  <div id="heading">
      <h1>Portland Food Carts</h1>
  </div>
    <div class="container">
      <div id='sidebar'></div>
      <div id='map'></div>
    </div>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
<script src='/static/build/main.js'></script>
</body>
</html>
